body {
	margin: 0px 0px;
	padding: 0px;
}

* {
	box-sizing: Border-box;
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000px;
	-ms-overflow-style: hidden;
}

#container {
	background-color: white;
	position: absolute;
	overflow: hidden;
	border: 1px solid black;
}

.overflow {
	overflow: hidden;
}
/* Ensure all anchor tags show pointer cursor */
a, a:hover, a:focus {
	cursor: pointer;
}

a:hover {
	cursor: pointer;
}

.sprite {
	position: absolute;
	background-repeat: no-repeat;
}

.fpo {
	opacity: .5;
}

#top_container {
    left: 0px;
    top: 0px;
    width: 300px;
    height: 220px;
    /* background-color: #37f269; */
}

#bottom_container {
    left: 0px;
    bottom: 160px;
    width: 300px;
    height: 217px;
    /* background-color: #37f269; */
}

#box1 {
	background-color: #f27037;
    left: 168px;
    top: 187px;
    width: 8px;
    height: 34px;
}

#box2 {
	background-color: #f27239;
    left: 6px;
    top: 214px;
    width: 166px;
    height: 8px;
}

#box3 {
	background-color: #f27037;
    left: 4px;
    top: 186px;
    width: 6px;
    height: 43px;
}

#box4 {
	background-color: #f27037;
    left: 6px;
    top: 185px;
    width: 162px;
    height: 8px;
}

#cta_2x {
	left:0px;
	top:427px;
	width:300px;
	height:173px;
	background-image:url(../img/cta_2x.png);
	background-size:300px 173px;
}

#bg1_2x {
	left:0px;
	top:0px;
	width:300px;
	height:600px;
	background-image:url(../img/bg1_2x.jpg);
	background-size:300px 600px;
}

#bg2_2x {
	left:0px;
	top:0px;
	width:300px;
	height:600px;
	background-image:url(../img/bg2_2x.jpg);
	background-size:300px 600px;
}

#bg3_2x {
	left:0px;
	top:0px;
	width:300px;
	height:600px;
	background-image:url(../img/bg3_2x.jpg);
	background-size:300px 600px;
}

#bg4_2x {
	left:0px;
	top:0px;
	width:300px;
	height:600px;
	background-image:url(../img/bg4_2x.jpg);
	background-size:300px 600px;
}

#bg5_2x {
	left:0px;
	top:0px;
	width:300px;
	height:600px;
	background-image:url(../img/bg1_2x.jpg);
	background-size:300px 600px;
}

#eyebrow1_2x {
	left:180px;
	top:195px;
	width:113px;
	height:16px;
	background-image:url(../img/eyebrow1_2x.png);
	background-size:113px 16px;
}

#box_2x {
	left:6px;
	top:187px;
	width:168px;
	height:32px;
	background-image:url(../img/box_2x.png);
	background-size:168px 32px;
}

#c1_2x {
	left:16px;
	top:196px;
	width:151px;
	height:13px;
	background-image:url(../img/c1_2x.png);
	background-size:151px 13px;
}

#fpo_2x {
	left:0px;
	top:0px;
	width:300px;
	height:600px;
	background-image:url(../img/fpo_2x.jpg);
	background-size:300px 600px;
}

#c2_2x {
	left:51px;
	top:196px;
	width:116px;
	height:13px;
	background-image:url(../img/c2_2x.png);
	background-size:116px 13px;
}
#copyCircle1Top_2x {
	left:12px;
	top:9px;
	width:158px;
	height:423px;
	background-image:url(../img/copyCircle1Top_2x.png);
	background-size:158px 423px;
}

#copyCircle1Bottom_2x {
    left: 12px;
    top: -213px;
    width: 158px;
    height: 423px;
	background-image:url(../img/copyCircle1Top_2x.png);
    background-size: 158px 423px;
}
#copyCircle2Top_2x {
	left:12px;
	top:11px;
	width:158px;
	height:422px;
	background-image:url(../img/copyCircle2Top_2x.png);
	background-size:158px 422px;
}

#copyCircle2Bottom_2x {
    left: 12px;
    top: -211px;
    width: 158px;
    height: 423px;
	background-image:url(../img/copyCircle2Top_2x.png);
    background-size: 158px 423px;
}

#copyCircle3Top_2x {
	left:12px;
	top:11px;
	width:158px;
	height:422px;
	background-image:url(../img/copyCircle3Top_2x.png);
	background-size:158px 422px;
}

#copyCircle3Bottom_2x {
    left: 12px;
    top: -248px;
    width: 158px;
    height: 423px;
	background-image:url(../img/copyCircle3Top_2x.png);
    background-size: 158px 423px;
}

#c3_2x {
	left:19px;
	top:196px;
	width:148px;
	height:13px;
	background-image:url(../img/c3_2x.png);
	background-size:148px 13px;
}

#c4_2x {
	left:28px;
	top:196px;
	width:139px;
	height:13px;
	background-image:url(../img/c4_2x.png);
	background-size:139px 13px;
}

#copyCircle4Top_2x {
	left:12px;
	top:46px;
	width:158px;
	height:385px;
	background-image:url(../img/copyCircle4Top_2x.png);
	background-size:158px 385px;
}

#copyCircle4Bottom_2x {
    left: 12px;
    top: -194px;
    width: 158px;
    height: 423px;
    background-image: url(../img/copyCircle4Top_2x.png);
    background-size: 158px 423px;
}