body {
	margin: 0px 0px;
	padding: 0px;
}

* {
	box-sizing: Border-box;
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000px;
	-ms-overflow-style: hidden;
}

#container {
	background-color: white;
	position: absolute;
	overflow: hidden;
	border: 1px solid black;
}

.overflow {
	overflow: hidden;
}
/* Ensure all anchor tags show pointer cursor */
a, a:hover, a:focus {
	cursor: pointer;
}

a:hover {
	cursor: pointer;
}

.sprite {
	position: absolute;
	background-repeat: no-repeat;
}

.fpo {
	opacity: .5;
}

#top_container {
    left: 0px;
    top: 0px;
    width: 393px;
    height: 150px;
    /* background-color: #37f269; */
}

#bottom_container {
    left: 10px;
    bottom: -110px;
    width: 380px;
    height: 217px;
    /* background-color: #37f269; */
}

#box1 {
    background-color: #f27037;
    left: 385px;
    top: 84px;
    width: 9px;
    height: 74px;
}

#box2 {
    background-color: #f27239;
    left: 30px;
    top: 144px;
    width: 366px;
    height: 8px;
}

#box3 {
    background-color: #f27037;
    left: 33px;
    top: 76px;
    width: 9px;
    height: 73px;
}

#box4 {
    background-color: #f27037;
    left: 26px;
    top: 83px;
    width: 372px;
    height: 8px;
}

#cta_2x {
	left:662px;
	top:0px;
	width:308px;
	height:250px;
	background-image:url(cta_2x.png);
	background-size:308px 250px;
}

#bg1_2x {
	left:0px;
	top:0px;
	width:970px;
	height:250px;
	background-image:url(bg1_2x.jpg);
	background-size:970px 250px;
}

#bg2_2x {
	left:0px;
	top:0px;
	width:970px;
	height:250px;
	/* background-image:url(bg2_2x.jpg); */
	background-color: #f27037;
	background-size:970px 250px;
}

#bg3_2x {
	left:0px;
	top:0px;
	width:970px;
	height:250px;
	background-image:url(bg3_2x.jpg);
	background-size:970px 250px;
}

#bg4_2x {
	left:0px;
	top:0px;
	width:970px;
	height:250px;
	background-image:url(bg4_2x.jpg);
	background-size:970px 250px;
}

#bg5_2x {
	left:0px;
	top:0px;
	width:970px;
	height:250px;
	background-image:url(bg1_2x.jpg);
	background-size:970px 250px;
}

#eyebrow1_2x {
    left: 404px;
    top: 103px;
    width: 233px;
    height: 31px;
    background-image: url(eyebrow1_2x.png);
    background-size: 233px 31px;
}

#box_2x {
	left:36px;
	top:86px;
	width:355px;
	height:63px;
	background-image:url(box_2x.png);
	background-size:355px 63px;
}

#c1_2x {
	left:78px;
	top:105px;
	width:300px;
	height:25px;
	background-image:url(c1_2x.png);
	background-size:300px 25px;
}

#fpo_2x {
	left:0px;
	top:0px;
	width:970px;
	height:250px;
	background-image:url(fpo_2x.jpg);
	background-size:970px 250px;
}

#c2_2x {
	left:141px;
	top:104px;
	width:237px;
	height:26px;
	background-image:url(c2_2x.png);
	background-size:237px 26px;
}

#copyCircle1Top_2x {
	left:81px;
	top:139px;
	width:294px;
	height:103px;
	background-image:url(copyCircle1Top_2x.png);
	background-size:294px 103px;
}

#copyCircle1Bottom_2x {
    left: 72px;
    top: -3px;
    width: 294px;
    height: 103px;
    background-image: url(copyCircle1Top_2x.png);
    background-size: 294px 103px;
}

#copyCircle2Top_2x {
	left:81px;
	top:38px;
	width:294px;
	height:211px;
	background-image:url(copyCircle2Top_2x.png);
	background-size:294px 211px;
}

#copyCircle2Bottom_2x {
    left: 71px;
    top: -103px;
    width: 294px;
    height: 211px;
    background-image: url(copyCircle2Top_2x.png);
    background-size: 294px 211px;
}

#copyCircle3Top_2x {
	left:84px;
	top:4px;
	width:294px;
	height:246px;
	background-image:url(copyCircle3Top_2x.png);
	background-size:294px 246px;
}

#copyCircle3Bottom_2x {
	left:71px;
	top:-156px;
	width:294px;
	height:246px;
	background-image:url(copyCircle3Top_2x.png);
	background-size:294px 246px;
}

#c3_2x {
	left:74px;
	top:104px;
	width:304px;
	height:26px;
	background-image:url(c3_2x.png);
	background-size:304px 26px;
}

#c4_2x {
	left:90px;
	top:105px;
	width:287px;
	height:27px;
	background-image:url(c4_2x.png);
	background-size:287px 27px;
}

#copyCircle4Top_2x {
	left:87px;
	top:1px;
	width:289px;
	height:243px;
	background-image:url(copyCircle4Top_2x.png);
	background-size:289px 243px;
}

#copyCircle4Bottom_2x {
    left: 77px;
    top: -150px;
    width: 289px;
    height: 243px;
    background-image: url(copyCircle4Top_2x.png);
    background-size: 289px 243px;
}